<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white {
        color: white;
    }
    .loading {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    .loading img {
        width: 100%; 
        height: 100%;
    }
</style>
<body style="background-color:#D8DBBD">
    <nav class="navbar" style="background-color:#FAF6E3">
        <a class="navbar-brand" style="font-size: large; color: Black;"><b>My Book recommender</b></a>
        <ul class="nav navbar-nav">
            <li><a href="/" style="font-size: large; color:Black;"><b>Home</b></a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px; color:#B59F78">Recommend Books</h1>
                <form id="recommend-form" action="/recommend_books" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <input name="user_input" type="text" placeholder="Enter your book name here" class="form-control" list="book-suggestions" required>
                        </div>
                        <div class="col-md-4">
                            <input type="number" name="num_books" placeholder="Number of books to recommend" class="form-control" min="1" max="80" required>
                        </div>
                    </div>
                    <br>
                    <datalist id="book-suggestions">
                        <option value="Harry Potter and the Goblet of Fire (Book 4)">
                        <option value="Back Roads">
                        <option value="Bel Canto: A Novel">
                        <option value="Black House">
                        <option value="Black Notice">
                        <option value="Brave New World">
                        <option value="Bridget Jones : The Edge of Reason">
                        <option value="CAT'S EYE">
                        <option value="Carolina Moon">
                        <option value="Chocolat">
                        <option value="Choke">
                        <option value="1984">
                        <option value="Heart of the Sea (Irish Trilogy)">
                        <option value="Heartbreaker">
                        <option value="Hemlock Bay">
                        <option value="Here on Earth">
                        <option value="Hideaway">
                        <option value="Homecoming">
                        <option value="About a Boy">
                    </datalist>
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>
            </div>
        </div>
        <div class="loading">
            <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading...">
        </div>
        <div id="recommendations-container" class="row">
            {% if data %}
                {% for i in data %}
                    <div class="col-md-3" style="margin-top:50px;">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" src="{{i[2]}}" style="border-radius: 5px; transform:scale(1); transition: transform 0.3s ease; cursor: pointer;" onmouseover="this.style.transform='scale(1.50)'" onmouseout="this.style.transform='scale(1)'">
                                <p class="text-Black">{{i[0]}}</p>
                                <h4 class="text-Black">{{i[1]}}</h4>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 4 == 0 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script>
        document.getElementById('recommend-form').addEventListener('submit', function() {
            // Clear previous recommendations
            document.getElementById('recommendations-container').innerHTML = '';
            // Show loading GIF
            document.querySelector('.loading').style.display = 'block';
        });
    </script>
</body>
</html>